@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');


*{
    font-family: 'Roboto';
}
div#alert {
    margin-top: 20px;
    position: fixed;
    z-index: 10;
}
div.head {
    background-color: #19283f;
    div#navbar {
        li {
            margin-bottom: 10px;
            font-size: 15px;
        }
        .nav-link {
            display: inline-block;
            color: #a8b9c0;
            text-decoration: none;
            transition: 0.5s;
        }
        .nav-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #00c7c0;
            transition: width .3s;
        }
        .nav-link:hover::after {
            width: 100%;
        }
        .nav-link:hover {
            color: #00c7c0;
        }
        #clear{
            color: #a8b9c0;
            width: 0%;
        }
        button {
            margin-top: -50px;
            width: 110px;
            border-radius: 100px;
        }
    }
    div.header {
        margin-top: 133px;
        h1{
            font-family: "Roboto";
            color: #f0f8fb;
            font-weight: 300;
            font-size: 51px;
        }
        p {
            color: #a8b9c0;
            font-size: 15px;
        }
        button {
            margin-top: 50px;
            width: 190px;
            height: 45px;
            border-radius: 100px;
        }
        .button-title{
            margin-top: 34px;
            padding-bottom: 143px;
        }
    }
}
div.WeAreGood {
    margin-top: 58px;
    h1{
        margin-top: 49px;
        font-size: 35px;
    }
    p {
        line-height: 27px;
        text-transform: uppercase;
        font-size: 15px;
    }
    img.Path {
        margin-top: -40px;
    }
    img.OneTwoTreeImg {
        margin-top: 64px;
    }
    div.OneTwoTree {
        h1{
            color: #ffc501;
            font-size: 20px;
        }
        p{
            font-size: 15px;
            color: #a8b9c0;
        }
        margin-bottom: 62px;

    }
}
div.WeMakeThis {
    padding-top: 58px;
    background-color: #eff7fa;
    h1{
        margin-top: 49px;
        font-size: 35px;
    }
    p {
        line-height: 27px;
        text-transform: uppercase;
        font-size: 15px;
    }
    img.Path {
        margin-top: -40px;
    }
}
div.imageList{
    background-color: #eff7fa;
    div.row{
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        div.test{
            width: 270px;
            height: 200px;
            background-color: white;
        }
    }
    div#want-text-center {
        margin-top: 50px;
        padding-bottom: 60px;
        #want {
            width: 208px;
            height: 45px;
            border-radius: 100px;
        }
    }
}
div.someStuff{
    padding-top: 50px;
    div.title {
        h1{
            margin-top: 49px;
            font-size: 35px;
        }
        p {
            line-height: 27px;
            text-transform: uppercase;
            font-size: 15px;
        }
        img.Path {
            margin-top: -40px;
        }
    }
    div.subtitle{
        display: flex;
        justify-content: center;
        p{
            text-transform: none;
            width: 590px;
            color: #a8b9c0;
            font-family: "Roboto";
            font-size: 15px;
        }
    }
    div.someContent{
        margin-top: 58px;
        div.text{
            margin-top: 30px;
            h1 {
                font-size: 35px;
                color: #1a2940;
                font-family: Roboto;
            }
            div.p-text {
                margin-top: 23px;
                p {
                    font-size: 15px;
                    color: #a8b9c0;
                }
            }
        }
        div.button{
            margin-top: 20px;
            button{
                width: 209px;
                height: 45px;
                border-radius: 100px;
            }
        }
    }
}
div.meetTheTeam{
    background-color: #eff7fa;
    padding-top: 114px;
    div.title{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h1 {
            color: #ffc501;
            font-family: "Roboto";
            font-size: 35px;
        }
        p {
            font-size: 15px;
            width: 1000px;
            color: #a8b9c0;
        }
    }
    div.team{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
        div.col-team{
            margin-top: 25px;
            background-color: #ffffff;
            width: 250px;
            height: 450px;
            img{
                width: 250px;
                height: 270px;
            }
            div.prenoms {
                width: 250px;
                height: 50px;
                background-color: #00c6bf;
                p{
                    padding-top: 12px;
                    color: #ffffff;
                    font-size: 20px;
                }
            }
            div.prenoms-text {
                display: flex;
                justify-content: center;
                p{
                    font-size: 15px;
                    color: #a8b9c0;
                    margin-top: 24px;
                    width: 205px;
                }
            }
        }
    }
}
div.sponsor{
    margin-top: 65px;
    margin-bottom: 65px;
}
div.start {
    background-color: #19283f;
    padding-top: 50px;
    padding-bottom: 50px;
    div.text-center {
        margin-top: 80px;
        h1 {
            color: white;
            font-size: 35px;
        }
        p {
            color: #a8b9c0;
            font-size: 15px;
        }
        div.button {
            margin-top: 50px;
            button {
                border-radius: 100px;
                width: 208px;
                height: 45px;
            }
        }
    }
}
div.read {
    padding-top: 50px;
    padding-bottom: 40px;
    div.title {
        h1{
            margin-top: 49px;
            font-size: 35px;
        }
        p {
            line-height: 27px;
            text-transform: uppercase;
            font-size: 15px;
        }
        img.Path {
            margin-top: -40px;
        }
    }
    div#read-container {
        div.read-row {
            display: flex;
            justify-content: space-between;
            img {
                width: 350px;
                height: 130px;
            }
            div.read-text {
                p.p1 {
                    margin-top: 5px;
                    color: #a8b9c0;
                    font-size: 13px;
                }
                p.p2 {
                    font-size: 20px;
                    color: #1a2940;
                    margin-top: -15px;
                }
            }
        }
    }
}
div.newsletter {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #ffc400;
    p{
        color: #1a2940;
        font-size: 20px;
        font-weight: 400;
    }
    input.newsletter-input {
        color: white;
        display: inline-block;
        width: 440px;
        border: 0 solid white;
        border-bottom-width: 1px;
        border-radius: 3px;
        background-color: #ffc400;
        font-family: 'Roboto'
    }
    input.newsletter-input:focus {
        outline: none;
    }
    input.newsletter-input::placeholder {
        color: white;
    }
    button {
        width: 198px;
        height: 45px;
        border-radius: 100px;
    }
    #col-button {
        margin-top: -15px;
    }
}
div.footer {
    background-color: #19283f;
    .row-1 {
        p {
            color: #a8b9c0;
            width: 450px;
        }
        .row-2 {
            padding-top: 30px;
        }
    }
    #logo2 {
        margin-top: 58px;
        margin-bottom: 31px;
    }
}
